@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Hedvig+Letters+Serif:opsz@12..24&family=Space+Mono&display=swap');



*{
    margin: 0;
    padding: 0;
    background-color: #f3eeea;
    color: rgb(40, 40, 40);
}

#title{
    word-spacing: 8px;
}

body {
    font-family: 'Happy Monkey', sans-serif;
}

#header{
    background-color: #f3eeea;
    text-align: center;
    margin: 6px;
    padding: 30px 0;
    font-weight: bolder;
}

.heading{
    padding-top: 15px;
}

img{
    display: block;
}

#image{
    max-width: 100%;
}

#img{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #efeae1;
    max-width: 100%;
    margin: 6px;
    padding: 10px;
}

#img-caption{
    background-color: #efeae1;
    color: black;
    margin-top: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#tribute-info{
    max-width: 55%;
    background-color: #f3eeea;
    margin: 18px auto;
}


.all{
    background-color: #f3eeea;
    border-bottom: 6px solid #efeae1;
    padding: 16px;
    line-height: 18px;
}

.main-heading{
    color: rgb(16, 15, 15);
    font-family: 'Hedvig Letters Serif', serif;
    text-align: center;
    margin: 10px 0;
    padding: 5px;
}

h4{
    margin-top: 20px;
}

ul{
    margin: 8px 0 15px 30px;
}

ul > li{
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.all :last-of-type{
    border-bottom: none;
}


p{
    margin: 5px;
    padding: 5px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.conclusion{
    border-bottom: none;
}

a:hover{
    color: blue;
}

footer{
    display: flex;
    height: 50px;
    justify-content:center;
    background-color: #efeae1;
    font-size: 20px;
    vertical-align: middle;
}

.link{
    font-family: 'Hedvig Letters Serif', serif;
}